$black: #3a3a3a;
$white: #fff;
$gray: #e0e0e0;
$primaryBlue: #1652f0;
$hoverBlue: #154de0;
$red: #d9605a;

$default: #fdfdfd !default;
$default_dark: #f0f0f0 !default;

$success: #28a745 !default;
$success_dark: #1f8838 !default;

$danger: #dc3545 !default;
$danger_dark: #bd1120 !default;

$info: #17a2b8 !default;
$info_dark: #138b9e !default;

$warning: #eab000 !default;
$warning_dark: #ce9c09 !default;